$bannerImageWidth : 100%;
$bannerImageHeight : 300px;

#aboutSection {
  position: relative;

  h2 {
    margin-bottom: 1em;
  }

  p {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    color: $primary-font-color;
  }

  #bannerBackgroundImage {
    width: $bannerImageWidth;
    height: $bannerImageHeight;
    background-image: url('/frontend/src/vendor/starry-sky.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

}

#greeting {
  font-size: 4em;
  top: .5em;
}

#aboutMeBlurb {
  position: absolute;
  font-size: 2em;
  top: 5.5em;
}

#imageOverlay {
  color: rgba(255,255,255,.5);
  height: 400px;
  width: 500px;
}
