#contactInfoSection {
  background-image: url('/frontend/src/vendor/forest-at-night.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em;
  position: relative;

  h2 {
    margin-bottom: 1em;
  }
}

#contentContainer{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

#emailLink {
  margin-bottom: .75em;
}

#emailLink:hover {
  span {
    display: inline;
  }
}

#linkedinLink:hover {
  span {
    display: inline;
  }
}
