#contactInfoSection {
  background-image: url('https://s3.us-west-2.amazonaws.com/personal-website-images/forest-at-night.jpg?response-content-disposition=inline&X-Amz-Security-Token=AgoGb3JpZ2luELL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLXdlc3QtMiKAAmKEKIguuORxuH%2BOCbhwHWdcXOGIiJ9GoS8fyNJAT2GVXcMiuwesdvIeWUEX6F2Y5Gdy5FRnRR929VOvqMOz2ECefHFapIAR%2BHF24xxKXMbSl5GozQNmirZ1%2BzYk%2BfHPJ%2Bbr2JlpG9DX%2BW0Wn0VO%2B54uKZFmjZ1YH8iRxpVVrjMDY8JFTQp%2B%2BA380hDTP6jKdzWqlQyK5eziJi0lUzCE%2BqOAsaXg%2FzdYpgnON%2B%2FhUwzTVPV8pmD1JD0FImazcVN%2FGcAEhyudXi0fg1pumNYyDBPezUQ4wdQE01sHCbJrGGyV%2F4ty6u7tgSwnXPoDIX69h0KrSuax19nKtPO54TdH40Mq5AMImP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgw4MDQ3NDgxNTE4NzIiDPsHlisYizXE5IjxzCq4Az5skig2xO30RLhj13NrD2MOUewYvB4596ELmlxLm7MHqFTBP4qPR5r0TY%2F7gqSVqKcduP8N%2BTWVpQJP3qTiOEtq9IK6zI6%2FWYrr9uJB0TMzdvUgGjDKHScTjwl4fxJKOzdIijKLmAJ2F8ne6cO4er8OrVscutWOY6iVaOqr%2BBMPrzUFd9aNX6wY7sb7rV2aYijGWYMi2QDqZKMGIvbv9xw%2Bb1qXd%2BtlO90U%2BrkxYllOVRPiXdo4Lb5A%2FGMIbtUeu9UEG0PSCS3OLpmloyser19loWgTEt9LbpkF%2BEDPPLVCUIFdOR3dMdNhgypT9ucEfahWT3yMWI7VrPRq6N6Ql6MiYwmaUwyVXHyZkx9%2F2DBtDtGUFAZ0pLRO9%2BcXT9Dh4agMqaKCQ54eNBHpinogdl2knZ%2Fe9csi12p0bGO4YFUvLZn3Ik91ZS091ys2zc3zTn5v1TVwcQx%2F9y2oLufzFESAs3nTmB4rU2iqs7I9istwhimTJE%2FzgT6i2RG3%2FL0HJpylyAM9t%2F1lop%2FGI6adge8oXro9f7LCTzoBBQXLADT1lBNrbfPL9FoWJJRZxwMX4JUzaz993g4VMJL1zNQF&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20180225T225026Z&X-Amz-SignedHeaders=host&X-Amz-Expires=300&X-Amz-Credential=ASIAJ3A3BRGRLH3AJVNA%2F20180225%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Signature=5181c6f70f677543ab585a92670ce4e103f37b304445c5fe8043981f9eab8cbf');
  background-size: cover;
  background-repeat: no-repeat;
  height: 25em;
  position: relative;

  h2 {
    margin-bottom: 1em;
  }
}

#contentContainer{
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 100%);
}

#emailLink {
  margin-bottom: .75em;
}

#emailLink:hover {
  span {
    display: inline;
  }
}

#linkedinLink:hover {
  span {
    display: inline;
  }
}
