#contactInfoSection {
  div {
    text-align: center;
  }

  span {
    display: none;
  }

  button {
    font-size: 2em;
  }
}

#emailLink:hover {
  span {
    display: inline;
  }
}

#linkedinLink:hover {
  span {
    display: inline;
  }
}
