$navbarFontColor : white;

nav {
  background-color: black;
}

ul {
  width: 100%;
  height: 2.5em;

  li {
    display: inline;
    margin-right: 2em;
    float: right;
    padding: 10px 0;
    font-size: 1.25em;

    span{
      color: $navbarFontColor;
    }

    span:hover{
      cursor: pointer;
      color: $navbarFontColor;
    }
  }
}
