$projectImageHeight : 75%;
$projectImageWidth : 100%;
$projectImageMaxWidth : 900px;
$projectImageMinWidth : 450px;
$projectImageMaxHeight : .75 * $projectImageMaxWidth;
$projectImageMinHeight : .75 * $projectImageMinWidth;

#projectSection {
  text-align: center;

  div {
    display: inline-block;
    width: 90%;
    margin: 1.5em;
    position: relative;
  }

  img {
    width: $projectImageWidth;
    min-width: $projectImageMinWidth;
    max-width: $projectImageMaxWidth;
    height: $projectImageHeight;
    min-height: $projectImageMinHeight;
    max-height: $projectImageMaxHeight;
  }
}

.learnMore {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -20px;
}

.learnMore:hover {
  cursor: pointer;
}
