section {
  background-color: white;
}

#aboutSection {
  position: relative;

  p {
    text-align: center;
  }

  img {
    width: 100%;
  }

}
#aboutMeBlurb {
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: white;
}

#greeting {
  font-size: 4em;
}
